/* ----------------------------------------------------------------------------

   footer.scss
   ____________________________________________________________________________
*/




.footer {
    font-family: $font-secondary;
    color: $orange;
    background-color: darken($orange-red,5);
    position: relative;
    margin-top: -250px;
    clear: both;
    height: 250px;
    width: 100%;
    .cenfoo {
        padding-top: 3.5em;
        overflow: auto;height: 250px;
        p.bottom  { 
            font-family: $font-secondary;
            font-family: "Merriweather", serif, arial;
            font-size: 16px;
            line-height: 28px;
            color: $gray;
           
            
        
        }//p.bottom 

    }//cenfoo  

}//footer