/* ----------------------------------------------------------------------------

 colors == variables.scss
   ____________________________________________________________________________
*/


/*
--------------------
 past colors
____________________
*/



$gray: #eaeaea;
$color_yellow_orange_approx: #f9b640;
$white: #ffffff;
$orange: #f7531e;		//orange
$orange-red: #b13b2a;		//orange-red
$beige: #eee8d6;		//white-beige
$light-yellow: #eec857;		//bit lighter yellow
$blue: #00aaff;




