/* ----------------------------------------------------------------------------

 colors == variables.scss
   ____________________________________________________________________________
*/


/*
--------------------
 past colors
____________________
*/

$footer: #197a92;
$color_old_lace_approx: #fdf6e4;
$color_gray_nurse_approx: #eaeaea;
$color_atoll_approx: #044d5f;		//darker blue
$color_yellow_orange_approx: #f9b640;
$white: #ffffff;
$color_flamingo_approx: #f7531e;		//orange
$color_terracotta_approx: #e76c5a;		//orange-red
$color_white_rock_approx: #eee8d6;		//white-beige
$color_cream_can_approx: #eec857;		//bit lighter yellow








$green :   #7E8C16;
$blue   :   #00aaff;
$lightgreen  :   #c5d937;
$lightred: #da2734;
$red    :	#e52b38;
$darkred  :	#8c251d;
$background: #fdf6e4;
$regcopy: #333333;
$white: #ffffff;
$black: #000000;
$darkblue:#121b3c;



